* {
  margin: 0;
  padding: 0;
  /* default: box-sizing: content-box; */
  box-sizing: border-box;
}
/* Default size of my browser 16px */
.container {
  border: 2px dashed red;
  width: 50%;
  font-size: 32px;
  padding: 5px 10px 9px;
  /* top-right&left-bottom */
  padding: 5px 6px 7px 8px;
  margin: 20px;
  outline: 10px ridge green;
  outline-offset: -15px;
  /* top-right-bottom-left */
}

/* Similar to border there is a property called outline 
The major difference between the two is that outline does'nt 
calculates in the css box model whereas border does */
