/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  margin: 0;
  display: block;
}
/* End CSS reset */

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  /*Selecting img tag inside section class*/
  width: 25%;
  height: auto;
  /* since we have specified the height in the html
  we need to provide height auto */
  /* and now the image is responsive */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-bottom: 2px solid black;
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
}

.container {
  background-color: rgb(251, 210, 156);
  background-image: url("img/pexels-esranur-kalay-11009273.jpg");
  background-size: cover;
  background-position: bottom left;
  /* What part of the image we wnat to make visible */
}

.hero img {
  margin-right: 0;
  width: 25%;
  height: auto;
  border: 5px double gray;
  border-radius: 50%;
  min-width: 100px;
  color: hsla(0, 0%, 100%, 0.216);
  /* creates a filter effect */
}

.h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 5px #fff;
  /* text-shadow: x-axis y-axis blur color */
}

.nowrap {
  white-space: nowrap;
}

body {
  /* Since body has no content so it had no height and hence the effect of linear gradient is not visible */
  height: 100vh;
  background-image: linear-gradient(to left, steelblue, white);
}
