* {
  margin: 0;
  padding: 0;
  /* default: box-sizing: content-box; */
  box-sizing: border-box;
}
/* Default size of my browser 16px */
h1 {
  border: 2px dashed red;
  width: 200px;
  height: 200px;
  padding: 3rem;
  font-size: 32px;
  /* margin: 10px 0; */
}

body {
  /* width: 100vw; */
  /* Always prefer to use percentage instead of vw units for the width */
  width: 100%;
  min-height: 100vh;
}
main {
  font-size: 1em;
}

p {
  font-size: 2em;
  padding: 0.5em;
  /* eqivalent to 32px, 16px on top and 16px on bottom*/
  width: 40ch;
  /* ch unit ensures that there are approximately 40 characters in each line before the line in the paragraph wraps */
}
/* size convention: width X height */

/* 
box-sizing: border-box will treat the width of the element including the border and the margins
rem specifies the size relative to the root element which is the html element
so 2rem = 64px in my case and so on 
*/

/* 
em is a unit that is relative to the font-size of the element or in case if the font-size of the element
is not specified then it is relative to the font-size of the parent
*/
