* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  background-color: #f00;
}
.green {
  background-color: green;
}
.blue {
  background-color: #00f;
}
section {
  height: 100vh;
}

header {
  font-size: 5rem;
  text-align: center;
  color: #fff;
  position: sticky;
  top: 0;
}

footer {
  height: 100px;
  font-size: 5rem;
  /* fix to the below problem */
  position: sticky;
  bottom: 0;
  text-align: center;
  background-color: #000;
}

/* making the position property to fixed causes the 
element to behave like an inline element */

.social {
  font-size: 3rem;
  background-color: royalblue;
  color: #fff;
  position: fixed;
  top: 30%;
  left: 0;
  padding: 1rem;
  z-index: 1;
}
/* research it more */
html {
  scroll-behavior: smooth;
}

/* makes the scroll of the page annimated and smooth
instead of instantaeneous */

/* research it more */
a {
  color: #fff;
}
